[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
"psycopg2" = "*"
django = "*"
dj-database-url = "*"
jsonschema = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
